.artistCard {
  padding: 20px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--txt-dark);
  gap: 10px;
  transition: .15s ease-in;
}

.artistCard:hover {
  cursor: pointer;
  background-color: var(--light-border);
}

.artistCard img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
}
