.account {
  height: 100vh;
  display: flex;
}

.account-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  gap: 5px;
  height: 100%;
  padding: 30px;
  border-right: 1px solid var(--lighter-border);
  background-color: var(--lighter-border);
  color: var(--txt-dark);
}

.account-main {
  flex: 8;
  padding: 30px;
  color: var(--txt-dark);
  display: flex;
  flex-direction: column;
}

.account-panel {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.account-main .edit,
.account-main .change-password {
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8em;
  background-color: orange;
  color: var(--white);
}

.account-main hr {
  margin: 10px 0px;
}
